<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="/resources/css/bootstrap.min.css" rel="stylesheet">
    <!-- sweetalert2 -->
    <link href="/resources/css/sweetalert2.min.css" rel="stylesheet">
    <!-- estilo -->
    <link href="/resources/css/estilos.css" rel="stylesheet" type="text/css">

    <!-- llamar los archivos JS de forma local -->
    <script src="/resources/js/sweetalert2.all.min.js"></script>
    <!-- popper y jquery -->
    <script src="/resources/js/popper.min.js "></script>
    <script src="/resources/js/jquery-3.3.1.min.js "></script>
    <!-- Bootstrap js -->
    <script src="/resources/js/bootstrap.bundle.js"></script>
    <script src="/resources/js/bootstrap.bundle.min.js"></script>
    <script src="/resources/js/moment.min.js"></script>

    <title>Auxiliar de Produción y Administración</title>
</head>