<%- include("../views/head_html") -%>

    <body>
        <div class="card-body  mx-5" role="document">
            <div class="py-1 container-fluid">
                <div class="card">
                    <div class="card-header sm">
                        <h5 class="modal-title text-center text-danger " id="IMPRIMIR" name="IMPRIMIR">EN PROCESO DE PRODUCCIÓN</h5>
                        <a href="/pedidos/para_entregar" type="button" class="close">
                            <span aria-hidden="true">&times;</span>
                        </a>
                    </div>

                    <div class="modal-body text-center">
                        Esta vista hace parte de la
                        <h3>
                            FASE 2
                        </h3>
                        del desarrollo del programa
                    </div>
                    <div class="modal-footer">
                        <a href="/pedidos/para_entregar" type="button" class="btn btn-danger">Regresar</a>
                    </div>
                </div>
            </div>
        </div>


    </body>

    </html>