<%- include("../elements/head_html") -%>

    <body>
        <!--menu de navegación-->
        <%- include("../elements/menu", {Rol:Rol}) -%>

            <!--titulo pagina 1-->
            <div class="d-flex justify-content-center container-fluid">
                <h3 style="background: rgb(255, 255, 255)">Área de Pedidos</h3>
                <!--boton 2.1 de sub modulo-->
            </div>
            <div id="espacio-medio"></div>

            <!--contenido-->

            <div id="contenido">
                <p></p>
                <div class="py-1 container-fluid">
                    <!--botones submenu-->
                    <div id="botones-mod-1" class="d-flex justify-content-center">
                        <!--boton 2.1 de sub modulo-->
                        <button type="button" class="btn btn-warning">
                    <a href="pedidos/nuevo_pedido"> <img src="/resources/img/boton pagina 2.1.png" widh="100" height="100"> </a>  <!--pagina 2.2-->
                    <h3 class="d-flex justify-content-center">Nuevo Pedido</h3> 
                </button>
                        <p></p>
                        <!--boton 2.2 de sub modulo-->
                        <button type="button" class="btn btn-danger">
                    <a href="pedidos/para_producir"> <img src="/resources/img/boton pagina 2.2.png" widh="100" height="100"> </a>
                    <h3 class="d-flex justify-content-center">Para Producir</h3>
                </button>
                        <p></p>
                        <!--boton 2.3 de sub modulo-->
                        <button type="button" class="btn btn-success">
                    <a href="pedidos/para_entregar"> <img src="/resources/img/boton pagina 2.3.png" widh="100" height="100"> </a>
                    <h3 class="d-flex justify-content-center">Para Entregar</h3>
                </button>
                    </div>
                </div>
            </div>
            <div id="espacio-blanco"></div>
            <div id="espacio-medio"></div>

    </body>

    </html>