<%- include("../views/head_html") -%>

    <body>
        <!--menu de navegación-->
        <%- include("../views/menu") -%>

            <!--titulo pagina 1-->
            <div class="d-flex justify-content-center container-fluid">
                <h3>Inicio</h3>
            </div>
            <div id="espacio-medio"></div>

            <!--contenido-->
            <div id="contenido" class="py-3 container-fluid">

                <div id="caja-contenido " class="py-1 container-fluid row">
                    <div id="foto-del-cliente" class="py-1 col mx-auto">
                        <video src="/resources/video/presentación.mp4" poster="/resources/video/vista.jpg" width="320" height="240" controls></video>
                    </div>

                    <div class="col ">
                        <h5 class="d-flex justify-content-center  ">Nuestra propuesta de valor</h5>
                        <p id="propuesta-valor" class="d-flex justify-content  ">
                            En SAYFRE elaboramos productos 100% naturales y con alto contenido nutricional, sin conservantes, colorantes y saborizantes artificiales; implementando técnicas tradicionales e ingredientes de alta calidad. Nuestro objetivo es convertirnos la principal
                            pastelería del Municipio de Jericó, contribuyendo al crecimiento socioeconómico local a través de la creación de nuevos puestos de trabajo y la promoción de la dignificación laboral.
                        </p>
                    </div>
                </div>
            </div>

            <div id="espacio-blanco"></div>
            <div id="espacio-medio"></div>

    </body>

    </html>